# http://editorconfig.org
# root = true

[*]
indent_style = space
indent_size = 2
prettier.tabWidth = 2
charset = utf-q
trim_trailing_whitespace = false
insert_final_newline = false

[*.js]
indent_style = space
indent_size = 2
prettier.tabWidth = 2


